:root {
  --cor-p1: #b28756;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 13px;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.button {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 30px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 20px;
  font-size: 0.7rem;
  background-color: var(--cor-p1);
  color: #fff;
  transition: 0.2s;
}

.button:hover {
  background-color: burlywood;
}

.container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Header e Menu inicial */

header {
  height: 100px;
  background-color: #000;
  color: #fff;
}

.header {
  color: #fff;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
}

.logoimg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--cor-p1);
}

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.menu ul {
  display: flex;
}

.menu li a {
  color: inherit;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 100px;
  border-bottom: 4px solid transparent;
  transition: 0.2s;
}

.menu li a:hover,
.menu li.active a {
  border-bottom-color: var(--cor-p1);
  color: #ccc;
}

/* Banner inicial do site */
.banner {
  height: calc(100vh - 100px);
  background-color: #333;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.banner .sliders {
  width: 1000vw;
  height: 100%;
}

.banner .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
}

.banner .slide-area {
  text-align: center;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.banner h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
}

.banner h1 span {
  color: var(--cor-p1);
}

.banner h2 {
  margin-top: 10px;
}

.banner .sliders-pointers {
  width: 100%;
  height: 15px;
  position: absolute;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.banner .pointer {
  width: 15px;
  height: 15px;
  border: 1px solid var(--cor-p1);
  border-radius: 50%;
  cursor: pointer;
}

.banner .pointer.active {
  background-color: var(--cor-p1);
}

/* Criando sections para serem reutilizadas */

.default {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.default .section-title {
  font-size: 1.15rem;
}

.default .section-desc {
  font-size: 0.7rem;
  color: #ccc;
  margin-top: 10px;
  margin-bottom: 40px;
}
.default .section-body {
  max-width: 1140px;
  margin: auto;
}
.default.light {
  background-color: #f7f7f7;
}

.default.light .section-title,
.default.light .section-body {
  color: #000;
}

.default.dark {
  background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
  color: #fff;
}

/* Css de areas especificas */
.section-about-us {
  display: flex;
}

.section-about-us--left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-about-us--left p {
  font-size: 14px;
  line-height: 1.8;
}

.section-about-us--right {
  display: flex;
  justify-content: center;
  width: 500px;
}

.section-about-us--right img {
  width: 480px;
  box-shadow: 0 5px 10px black;
}

/* servicos */
.section-services {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.section-service {
  padding: 20px 5px;
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-left: 1px solid #333;
}

.section-service:last-child {
  border-right: 1px solid #333;
}

.section-service-icon {
  width: 50px;
  margin-bottom: 20px;
}

.section-service-content {
  text-transform: uppercase;
}

.section-service-content p {
  margin-top: 8px;
  font-size: 0.6rem;
  color: #ccc;
}
